<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.coosinstaff">

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".SleepSplashScreen"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RepasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".MapDirectionActivity" />
        <activity android:name=".SubmitedActivity" />
        <activity android:name=".SubmitOrderActivity" />
        <activity android:name=".DieuKienHopTacActivity" />
        <activity android:name=".ConfirmRegisterActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ForgetPwAtivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/ApiKey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

<!--        <service android:name=".notifications.MyFirebaseInstanceIDService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name=".notifications.MyFirebaseMessagingService"-->
<!--            android:permission="com.google.android.c2dm.permission.SEND">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

</manifest>