<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.coosinstaff">

    <application
        android:name=".SleepSplashScreen"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DieuKienHopTacActivity"></activity>
        <activity android:name=".ConfirmRegisterActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <dist:module dist:instant="true" />

</manifest>